<!DOCTYPE html>
<html ng-app="TravApp" lang="en">
  <head>
    <!--angular-->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <!--ui bootstrap-->
    <script src="lib/ui-bootstrap-tpls-0.14.3.js"></script>
    <!--Bootstrap-->
    <link href="lib/bootstrap.css" rel="stylesheet">
    <!--Stuff we wrote-->
    <script src="travmain.js"></script>
    <script src="traveller-alerts.js"></script>
    <script src="traveller-characters.js"></script>
    <script src="traveller-skills.js"></script>
    <script src="diceRoller.js"></script>
    <script src="ship-management.js"></script>
    <script src="random-tables.js"></script>
    <script src="datatables.js"></script>
    <link rel="stylesheet" href="travmain.css">
  </head>
  <body style="margin-left:8px">
  

    <section>
      <span ng-controller="alertsController as alerts">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="clearAlert($index)">{{alert.msg}}</uib-alert>
      </span>
      <div class="container"> <!-- Main bootstrap container-->
        <ul class="nav nav-pills">
          <li> <a href="#/roll">Roll Test</a> </li>
          <li> <a href="#/characters">Character Test</a></li>
          <li> <a href="#/shipManagement">Ship Management</a></li>
          <li> <a href="#/random">Random Generators</a></li>
        </ul>
      </div>
    </section>
    <div ng-view></div>
  </body>

<!------------------------------ Alert Template ------------------------------->
  <script type="text/ng-template" id="alert.view">
    <span class="alert" role="alert">
      <span ng-transclude></span>
    </span>
  </script>

<!----------------------------------Ship Manager View-------------------------->
  <script type="text/ng-template" id="shipMan.view">
    <br><br>
    <h2>Ship Management</h2>
    Not implemented yet
  </script>

<!------------------------------ Character view ------------------------------->

  <script type="text/ng-template" id="addTradeSkillModal.view">
    <div class="modal-header">
      <h4 class="modal-title">Add a trade skill</h4>
    </div>
    <div class="modal-body">
      <input traveller-autofocus ng-model="newTradeSkillName"></input>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="addTradeSkillModalOk()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="addTradeSkillModalCancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="characters.view">

    <div class="btn-group" uib-dropdown style="float:right">
      <button id="charMgmtButton" type="button" class="btn btn-primary" uib-dropdown-toggle>Character Management<span class="caret"></span></button>
      <ul class="uib-dropdown-menu dropDownMenu" role="menu" aria-labelledby="charMgmtButton" id="charMgmtMenu">
        <li><span ng-click="addCharacter()">Create New</span></li>
        <li><span class="charImporter">Import<input type="file" onchange="angular.element(this).scope().importCharacter(angular.element(this))"></span></li>
        <li><span ng-click="exportAll()">Export All</span></li>
      </ul>
    </div>

    <br><br>

    <uib-tabset>
      <uib-tab ng-repeat="character in characterList" heading="{{character.name}}" active="charTabActive[$index]" ng-click="selectCharacter($index)"></uib-tab>
    </uib-tabset>

    <span ng-if="characterList.length > 0"> <!-- Hide the character display if no characters exist -->

      <form>
        <h3>Identity</h3>
        <span class="deleteButton" ng-click="deleteCharacter(indexOfSelectedChar)" style="font-weight:bold">DELETE</span>
        <table id="identityTable">
          <tr><td>Name</td><td><input ng-model="selectedCharacter.name"></td></tr>
          <tr><td>Age</td><td><input ng-model="selectedCharacter.age"></td></tr>
          <tr><td>Homeworld</td><td><input ng-model="selectedCharacter.homeworld"></td></tr>
          <tr><td>Race</td><td><input ng-model="selectedCharacter.race"></td></tr>
          <tr><td>Racial Traits</td><td><input ng-model="selectedCharacter.racialTraits"></td></tr>
        </table>
      </form>

      <h3>Characteristics</h3>
      Click on a box to set the characteristic score
      <table id="characteristicsTable">
          <colgroup>
              <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
          </colgroup>
          <tr align=center>
              <td align=right>Modifier</td>
              <td>-3</td><td colspan=2>-2</td><td colspan=3>-1</td><td colspan=3>+0</td><td colspan=3>+1</td><td colspan=3>+2</td>
              <td>+3</td>
          </tr>
          <tr align=center>
              <td align=right>Score</td>
              <td ng-repeat='val in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]'>{{val}}</td>
          </tr>
          <tr align=center ng-repeat='stat in ["Str","Dex","End","Int","Edu","Soc"]'>
              <td align=right>{{stat}}</td>
              <td ng-repeat='val in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]' style="cursor:pointer" ng-click="selectedCharacter[stat]=val" ng-class="{bgDimGray: selectedCharacter[stat]>=val}"></td>
          </tr>
      </table>

      <br>
      <form>
        <h3>Armour</h3>
        <table id="armorTable">
          <tr><td>Type</td><td><input ng-model="selectedCharacter.armourType"></td></tr>
          <tr><td>Rating</td><td><input ng-model="selectedCharacter.armourRating"></td></tr>
          <tr><td>Special Notes</td><td><input ng-model="selectedCharacter.armourSpecialNotes"></td></tr>
        </table>
      </form>

      <form>
        <h3>Skills</h3>
        Click on a skill to learn/forget it. Click on the skill level to change it.
        <div class="btn-group" uib-dropdown style="float:right">
          <button id="skillMgmtButton" type="button" class="btn btn-primary" uib-dropdown-toggle>Skill Management<span class="caret"></span></button>
          <ul class="uib-dropdown-menu dropDownMenu" role="menu" aria-labelledby="skillMgmtButton" id="skillMgmtMenu">
            <li><span ng-click="openAddTradeSkillModal()">New Trade Skill</span></li>
            <li><span ng-click="openDeleteTradeSkillModal()">Delete Trade Skill</span></li>
          </ul>
        </div>
        <table id="skillsTable">
          <tr ng-repeat="skill in skills.skillList | skillSorter" ng-if="skill.displayMe()" ng-class="{learnedSkill: skill.hasBeenLearned}">
            <td><span ng-class="{specialty:skill.isSpecialty(),skill:!skill.isSpecialty()"}" ng-click="skills.toggleSkill(skill)">{{skill.name}}</span></td>
            <td ng-if="skill.showValue()">
              <input ng-if="skillValueBeingEdited(skill)" traveller-autofocus class="skillValueInput" id="{{skill.name}}" type="number" min="0" max="20" value="{{skill.value}}" ng-model="skill.value" ng-blur="skillValueEditingComplete(skill)">
              <span ng-if="!skillValueBeingEdited(skill)" class="skillValue" ng-click="editSkillValue(skill)" style="font-weight:bold">{{skill.value}}</span>
            </td>
            <td ng-if="!skill.showValue()"></td> <!-- else case for previous ng-if so we still have enough cells on unlearned or parent rows -->
          </tr>
        </table>
      </form>

      <form>
          <h3>Finances</h3>
          <table id="financesTable">
              <col><col>
              <tr><td>Pension</td><td>Cr. <input type="number" class="moneyInput" step="2000" min="10000" ng-model="selectedCharacter.pension"></td></tr>
              <tr><td>Debt</td><td>Cr. <input type="number" class="moneyInput" min="0" ng-model="selectedCharacter.debt"></td></tr>
              <tr><td>Cash on Hand</td><td>Cr. <input type="number" class="moneyInput" min="0" ng-model="selectedCharacter.cashOnHand"></td></tr>
              <tr><td>Monthly Ship Payment</td><td>Cr. <input type="number" class="moneyInput" min="0" ng-model="selectedCharacter.monthlyShipPayment"></td></tr>
          </table>
      </form>

      <form>
        <h3>Equipment<h3>
        <table id="equipmentTable">
        </table>
      </form>

    </span>

  </script>


<!----------------------------------Table Roller View-------------------------->
  <script type="text/ng-template" id="randomtables.view">
    <br><br>
    <h2>Random Stuff</h2>
    <div class="btn-group" uib-dropdown style="float:top">
      <button id="randomPatronButton" type="button" class="btn btn-primary" uib-dropdown-toggle>Random patron<span class="caret"></span></button>
      <ul class="uib-dropdown-menu randomMenu" role="menu" aria-labelledby="randomButton" id="randomPatronMenu">
        <li><span ng-click="tables.randomPatron(0)">Random Patron</span></li>
        <li><span ng-click="tables.randomPatron(1)">Criminals</span></li>
        <li><span ng-click="tables.randomPatron(2)">Leaders</span></li>
        <li><span ng-click="tables.randomPatron(3)">High Society</span></li>
        <li><span ng-click="tables.randomPatron(4)">Commercial</span></li>
        <li><span ng-click="tables.randomPatron(5)">Spacer</span></li>
        <li><span ng-click="tables.randomPatron(6)">Unusual</span></li>
      </ul>

		<br>
		<br>
      <div>Patron: {{tables.patrontype}}, {{tables.patronoccupation}}, {{tables.patrontraits}}</div>
      <div>Mission: {{tables.patronmissiontext}}</div>
      <div>Target: {{tables.patrontargettext}}</div>
      <div>Opposition: {{tables.patronopposition}}</div>    
      
    </div>
    
    <div class="btn-group" uib-dropdown style="float:top">
      <button id="randomEncounterButton" type="button" class="btn btn-primary" uib-dropdown-toggle>Random Encounter<span class="caret"></span></button>
      <ul class="uib-dropdown-menu randomMenu" role="menu" aria-labelledby="randomButton" id="randomEncounterMenu">
        <li><span ng-click="tables.randomEncounter(0)">StarportEncountersTable</span></li>
        <li><span ng-click="tables.randomEncounter(1)">RuralEncountersTable</span></li>
        <li><span ng-click="tables.randomEncounter(2)">UrbanEncountersTable</span></li>
      </ul>

		<br>

      <div>Encounter: {{tables.encountertext}}</div>
    
    </div>
    
    
  </script>
  
  
<!----------------------------------Roller View-------------------------->

<script type="text/ng-template" id="roll.view">
  <br><br>
  <h2>Roll</h2>
        <div>

         <form ng-submit="roller.roll()" class="form-inline">
               <input type="text"  class="form-control" ng-model="roller.numdice" size="1" placeholder="Count">
               d<input type="text" class="form-control" ng-model="roller.sides" size="1" placeholder="Sides">
               <input class="btn btn-default btn-primary" type="submit" value="Roll">
            </form>

            <form ng-submit="roller.d66()">
            <input class="btn btn-default btn-primary" type="submit" value="d66">
            </form>

            <span>Total: {{roller.result.total}}</span>
            <br>

        <span>Individual Rolls:</span>
        <ul class="list-group">
         <li class="list-group-item" ng-repeat="roll in roller.result.rolls track by $index">
         <span> {{roll}} </span>
         </li>
        </ul>

        <h2>Throw/Check</h2>
        <Table class="table table-condensed">
            <tr ng-repeat="dm in roller.dms" {{dm.include?'':'disabled'}}>
              <td><input type="checkbox" ng-model="dm.include"></td>
              <td><span>{{dm.desc}}</span></td>
              <td class="{{dm.value>=0?'info':'warning'}}"><span class="">{{dm.value}}</span></td>
            </tr>
          </table>
          <form ng-submit="roller.addDM()" class="form-inline">
            <input type="text"  ng-model="roller.dmtext"  size="30" class="form-control"
                   placeholder="add new DM description">
            <input type="number" class="sr" ng-model="roller.dmvalue"  size="3" class="form-control"
                   placeholder="0">
            <input class="btn btn-default btn-primary" type="submit" value="add">
          </form>


         <form ng-submit="roller.dicethrow()" class="form-inline">

         <!--  <select ng-model="roller.currentdifficulty">
            <option ng-repeat="option in roller.difficulties" value="{{option.value}}">{{option.name}}</option>
         -->
         <select name="mySelect" id="mySelect"
             ng-options="option.name for option in roller.difficulties track by option.value"
               ng-model="roller.currentdifficulty"></select>
         <input class="btn btn-default btn-primary" type="submit" value="Throw">
         </form>
         <form ng-submit="roller.clearThrows()" class="form-inline">
            <input class="btn btn-default btn-primary" type="submit" value="Clear Throws">
            </form>
         Throw Result:
         <ol class="list-group">
            <li class="list-group-item" ng-repeat="throwresult in roller.throwresults">
            <button type="button" class="btn btn-{{throwresult.color}}" data-placement="top-right" title="{{throwresult.desc}}"
            data-content="{{throwresult.effect}}" data-trigger="focus" bs-popover>{{throwresult.desc}}<br>
  <small>Timing:{{throwresult.timing}}</small>
</button>
            </li>
         </ol>
        </div>
</script>

</html>

